@import "compass";
@import "compass/css3";
@import "variables";
@import "mixins";

%extend_1 {
	background-color: $color_shark_approx;
	color: $white;
	font-size: x-small;
	border: none;
	font-weight: 600;
	font-family: $font_1, $font_2, $font_3;
	height: 26px;
	border-top: 1 px solid $black;
}
//original selectors
//.ui-datatable-scrollable-header, .ui-datatable-footer, .ui-datatable-scrollable-header-box .ui-state-default, .ui-datatable-scrollable-header-box .ui-widget-content .ui-state-default, .ui-datatable-header.ui-widget-header, .ui-treetable-header.ui-widget-header, .ui-treetable-footer, .ui-treetable .ui-state-default, .ui-treetable-scrollable-header, .ui-datatable .ui-paginator
%extend_12 {
	font-family: $font_1, $font_2, $font_3;
	background: $white;
	font-size: 0.9em;
	font-weight: 600;
	color: $color_storm_dust_approx;
	@include box-shadow(inset 0 0 0 $white);
}

//original selectors
//.ui-datatable-data tr.ui-state-hover, .ui-treetable .ui-treetable-data tr.ui-state-hover, .ui-tree .ui-treenode-label.ui-state-hover, .ui-tree .ui-treenode-label.ui-state-highlight, .ui-orderlist .ui-state-hover
%extend_16 {
	background: $white;
	color: $white;
	@include border-radius(3px);
	@include box-shadow(none);
}
%ph_menu_item {
	color: $menu_item_link_ft_color;	
	padding: 7px 10px 7px 10px;
	font-size: 15px;
	text-align: left;
	font-weight: normal;
	line-height: 16px;
}